@charset"UTF-8";
body {
  padding-top: 180px;
  background-color: rgba(134,145,152,255);
  color: rgba(150,210,210,255);
}
header {
  text-align: left;
  background-color: rgba(34,145,152,255);
  color: rgba(150,210,210,255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
h1 {
  line-height: 2;
}
.department {
  color: rgba(134,145,152,0);
  .G30{
    display:none;
  }
  #others:checked + .G30{
    display:block
  }
}
input:checked + label {
  color: rgba(150,210,210,255);
}
